<?xml version="1.0" encoding="UTF-8"?>

<!--
  ~ Copyright © 2019 MVN. All rights reserved.
  ~ See COPYING.txt for license details.
  -->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Tangkoko\CustomerAttributesManagement\Plugin\Eav\Model\Entity\Attribute\Backend">
        <arguments>
            <argument name="context" xsi:type="object">Tangkoko\CustomerAttributesManagement\Model\Context\WebapiContext</argument>
        </arguments>
    </type>

    <type name="Magento\Customer\Api\CustomerRepositoryInterface">
        <plugin name="CAM_context_set_customer_before_save" type="Tangkoko\CustomerAttributesManagement\Plugin\Customer\Model\ResourceModel\CustomerRepository"/>
    </type>
</config>